@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap%27');

.centraliza {
  width: 555px;
  height: 375px;
  margin: auto;
}

.container-conteudo {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: medium;
  background-color: #303339;
  color: #fff;
}

.header-form {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: x-large;
  color: #fff;
  background-color: black;
  text-align: center;
}
  
.btn-submit-form {
  background-color: #04111d;
  color: white;
  height: 45px;
  border-radius: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.inpt {
  border: none;
  background-color: #EBEBEB;
  padding: 3% 20%;
  margin-top: 4%;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: left;
}
  