body {
    margin: 0;
  }
  
#form-container {
    border-radius: 20px;
}
  
.header-form {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: x-large;
    color: #fff;
    background-color: #262B2F;
    text-align: center;
  }
  
.container-conteudo {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: medium;
    background-color: #303339;
    color: #fff;
}

.container-total-pedido {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: medium;
  background-color: #2081E2;
  color: #fff;
}